.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Test change animation */
.animated {
  text-indent: 8px;
  color:red;
}

.animated:before {
  content: "Logos";
  animation: text_change 5s infinite 3s;
}

@keyframes text_change {
  0% {
    content: "Blog Writing";
  }
  25% {
    content: "Animated Videos";
  }
  50% {
    content: "Product Demo";
  }
  75% {
    content: "Copywriting";
  }
  100% {
    content: "Social Media Ads";
  }
}

.bold {
  font-weight: bold;
}

.retink_red_font {
  color: #cc0000;
}

.floating { 
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 35px); }
  100%   { transform: translate(0, -0px); }   
}


.i {  
  color: #cc0000;
  position: relative;
}
.i:before {
  content: "ı";
  position: absolute; 
  color: black;
}

.card-body hr {
  width: 33%;
  margin-top: -5px;
  border-bottom: 3px solid #cc0000;
  border-top: none;
  opacity: 1;
}


/* Glow effect button */
.glow_effect:hover {
  -webkit-animation: glow 1s ease-in infinite;
          animation: glow 1s ease-in infinite;
}
.glow_effect::before {
  -webkit-animation: glow 1s ease-in infinite;
          animation: glow 1s ease-in infinite;
  background: #cc0000;
  border-radius: inherit;
  content: "";
  filter: blur(10px);
  opacity: 0.75;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
}

.glow_effect:hover::before {
  filter: blur(20px);
  opacity: 1;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
